<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>用户登录</h1>
    <span th:text="${msg}" data-th-bgcolor="red"></span>
    <form action="/user/login" method="post">
        <table>
            <tr>
                <td>用户名</td>
                <td><input name = "name" type="text"/></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input name = "password" type="password"/></td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <a href="/user/toForgotPwd">忘记密码？</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="登录">
                    <input type="button" value="注册" id = "register">
                </td>
            </tr>
        </table>
    </form>
</body>
<script src="../jquery/jquery-2.1.1.min.js" ></script>
<script type="text/javascript">
    /*
     onclick="toregister()"
    function toregister(){
        location.href = "/user/register";
    }*/
    $(function () {
        $("#register").click(function (){
            window.location.href = "/user/toRegister";
        });
    })
</script>
</html>