<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>注册页面</h1>
    <span th:text="${msg}" data-th-bgcolor="red"></span>
    <form action="/user/register" method="post">
        <table >
            <tr>
                <td>用户名：</td>
                <td><input name = "name" type="text" /></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input name = "password" type="text" /></td>
            </tr>
            <tr>
                <td>昵称：</td>
                <td><input name = "nickname" type="text" /></td>
            </tr>
            <tr>
                <td>邮箱：</td>
                <td><input name = "email" type="text" id = "email"/><input type="button" id = "getcode" onclick="getCode()" value="获得验证码"></input></td>
            </tr>
            <tr>
                <td>验证码：</td>
                <td><input name = "code" type="text" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="提交"/>
                </td>
            </tr>
        </table>
    </form>
</body>
<script src="../jquery/jquery-2.1.1.min.js" ></script>
<script type="text/javascript">
    function getCode() {
        var email = $("#email").val();
        if (!email.match(/^[a-z0-9]+([._]*[a-z0-9]+)*@[a-z0-9]+([_.][a-z0-9]+)+$/gi)) {
            return false;
        }
        $.ajax({
            type: "GET",
            url: "/user/getEmail?addressee=" + email,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (message) {
                console.log(message);
                if (message) {
                    alert("发送成功");
                } else {
                    alert("发送失败")
                }
            }
        })
    }
</script>
</html>